/* Write your CSS code here */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 700;
}
